# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Environment files
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Uploads (local storage)
uploads/*
!uploads/.gitkeep

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo / React Native
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Database backups
*.sql

# Misc
.DS_Store
*.txt

# Editors
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
